#chart-container {
  height: 650px;
  min-width: 310px;
  max-width: 1300px;
}
.chart-options-wrapper {
  line-height: 32px;
}
.chart-options-wrapper .chart-option {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
}
.chart-options-wrapper .toggle .handle {
  top: -30px;
}