table.dataTable thead .dataTableFilterRow th {
  padding: 0;
}
table.dataTable thead .dataTableFilterRow th button {
  width: 100% !important;
}
.ui-multiselect-checkboxes {
  max-height: 175px;
}
.dataTables_wrapper .row:last-child {
  margin-top: 10px;
}
.prices-table {
  max-width: 1573px !important;
}