@import "colors.less";
@import "boxes.less";

@sidebar-width: 200px;
@navbar-height: 50px;
@sidebar-transition-time: .30s;
@input-radius: 0;

body {
    background-color: #f1f4f7;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.transition (@transition) {
    transition: @transition;
}

.main-container {
    min-height: calc(~"100vh - 50px");
    position: relative;
    height: auto;
    padding-top: @navbar-height;
}

.main-content {
    margin: 0 0 0 @sidebar-width;
    padding: 15px;
    position: relative;
    .transition(margin-left ease @sidebar-transition-time);
    min-height: inherit;

    &.hide-sidebar {
        margin-left: 0;
    }
}

.page-header {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.navbar {
    height: @navbar-height;
    border-radius: 0;
    margin: 0;
    background-color: #fff;
    border-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .navbar-brand {
        padding-right: 5px;
        font-weight: 600;
    }

    .btn-icon {
        background-color: transparent;
        border: none;

        i {
            color: #3bafda;
        }
    }

    a {
        color:#8c8c8c;
    }

    .dropdown i {
        margin-right: 5px;
    }

    .dropdown-menu i {
        color: #dadada;
    }

    a:hover {
        color: black !important;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    width: @sidebar-width;
    background-color: #f5f5f5;
    min-height: 100%;
    background-color: @dark-gray;
    .transition(left ease @sidebar-transition-time);

    &.hide-sidebar {
        left: -@sidebar-width;
    }

    .sidebar-menu li {
        margin-left: 3px;

        &.list-header {
            padding: 12px 12px 8px 12px;
            font-weight: 600;
            color: #a19a9a;
            font-size: 11px;
            text-transform: uppercase;
        }

        &.active {
            border: 0 solid #dadada;
            border-left-width: 3px;
            margin-left: 0;
        }

        a {
            color: #dadada;
            font-size: 12px;
        }

        a:hover {
            background-color: #2e2e2e;
            color: #eeeeee;
        }

        i {
            width: 20px;
        }

        span {
            margin-left: 5px;
        }
    }
}

footer {
    text-align: center !important;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0 10px 0;
    font-size: 11px;
}

.icheckbox_flat, .iradio_flat {
    background-image: url("../../bower_components/Bootflat/bootflat/img/check_flat/default.png");
    height: 25px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.sign-up-text {
    margin-top: 10px;
}

.glyphicon-ok.form-control-feedback {
    color: @green;
}

.has-error .form-control-feedback {
    color: @red;
}

.form-control {
  border-radius: @input-radius;
  box-shadow: none;
  border-color: @gray;
  &:focus {
    border-color: @light-blue;
    box-shadow: none;
  }
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form-group {
  &.has-success {
    label {
      color: @green;
    }
    .form-control,
    .input-group-addon {
      border-color: @green;
      box-shadow: none;
    }
    .help-block {
      color: @green;
    }
  }

  &.has-warning {
    label {
      color: @yellow;
    }
    .form-control,
    .input-group-addon {
      border-color: @yellow;
      box-shadow: none;
    }
    .help-block {
      color: @yellow;
    }
  }

  &.has-error {
    label {
      color: @red;
    }
    .form-control,
    .input-group-addon {
      border-color: @red;
      box-shadow: none;
    }
    .help-block {
      color: @red;
    }
  }
}

.input-group {
  .input-group-addon {
    border-radius: @input-radius;
    border-color: @gray;
  }
}

.btn {
    border-radius: @input-radius;
}

.select2-container--default .select2-selection--multiple {
    border-radius: @input-radius;
}

/* TODO: extends */
.icon-stock-up, .text-success {
    color: @green;
}

.icon-stock-down, .text-danger {
    color: @red;
}
