body {
  background-color: #f1f4f7;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-container {
  min-height: calc(100vh - 50px);
  position: relative;
  height: auto;
  padding-top: 50px;
}
.main-content {
  margin: 0 0 0 200px;
  padding: 15px;
  position: relative;
  -webkit-transition: margin-left ease 0.3s;
  -moz-transition: margin-left ease 0.3s;
  -o-transition: margin-left ease 0.3s;
  transition: margin-left ease 0.3s;
  min-height: inherit;
}
.main-content.hide-sidebar {
  margin-left: 0;
}
.page-header {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.navbar {
  height: 50px;
  border-radius: 0;
  margin: 0;
  background-color: #fff;
  border-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navbar .navbar-brand {
  padding-right: 5px;
  font-weight: 600;
}
.navbar .btn-icon {
  background-color: transparent;
  border: none;
}
.navbar .btn-icon i {
  color: #3bafda;
}
.navbar a {
  color: #8c8c8c;
}
.navbar .dropdown i {
  margin-right: 5px;
}
.navbar .dropdown-menu i {
  color: #dadada;
}
.navbar a:hover {
  color: black !important;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  background-color: #f5f5f5;
  min-height: 100%;
  background-color: #232323;
  -webkit-transition: left ease 0.3s;
  -moz-transition: left ease 0.3s;
  -o-transition: left ease 0.3s;
  transition: left ease 0.3s;
}
.sidebar.hide-sidebar {
  left: -200px;
}
.sidebar .sidebar-menu li {
  margin-left: 3px;
}
.sidebar .sidebar-menu li.list-header {
  padding: 12px 12px 8px 12px;
  font-weight: 600;
  color: #a19a9a;
  font-size: 12px;
}
.sidebar .sidebar-menu li.active {
  border: 0 solid #dadada;
  border-left-width: 3px;
  margin-left: 0;
}
.sidebar .sidebar-menu li a {
  color: #dadada;
  font-size: 12px;
}
.sidebar .sidebar-menu li a:hover {
  background-color: #2e2e2e;
  color: #eeeeee;
}
.sidebar .sidebar-menu li i {
  width: 20px;
}
.sidebar .sidebar-menu li span {
  margin-left: 5px;
}
footer {
  text-align: center !important;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0 10px 0;
}
.prices-table {
  max-width: 1573px !important;
}
.width-big {
  min-width: 300px !important;
  max-width: 300px !important;
  width: 300px !important;
}
.width-normal {
  min-width: 200px !important;
  max-width: 200px !important;
  width: 200px !important;
}
.width-small {
  min-width: 150px !important;
  max-width: 150px !important;
  width: 150px !important;
}
.width-smaller {
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
}
.width-smallest {
  min-width: 75px !important;
  max-width: 75px !important;
  width: 75px !important;
}
.icheckbox_flat,
.iradio_flat {
  background-image: url("../../bower_components/Bootflat/bootflat/img/check_flat/default.png");
  height: 25px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.sign-up-text {
  margin-top: 10px;
}
.glyphicon-ok.form-control-feedback {
  color: #8cc152;
}
.has-error .form-control-feedback {
  color: #d91d30;
}