@model StockExchange.Web.Models.Dashboard.DashboardViewModel
<div class="info-box">
    <span class="info-box-icon"><i class="fa fa-signal"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Signals</span>
        <span class="info-box-number">@Model.CurrentSignalsCount</span>
    </div>
</div>