<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender>
    <file value="..\..\LogFiles\StockExchangeWeb_.log" xdt:Transform="SetAttributes" />
  </appender>
  <root>
    <level value="WARN" xdt:Transform="SetAttributes" />
  </root>
</log4net>