@model StockExchange.Web.Models.Dashboard.DashboardViewModel
<div class="info-box">
    <span class="info-box-icon"><i class="fa fa-handshake-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">All transactions</span>
        <span class="info-box-number">@Model.AllTransactionsCount</span>
    </div>
</div>