@model IList<StockExchange.Business.Models.Strategy.StrategyDto>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Your defined Strategies</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var strategy in Model)
                    {
                        <tr>
                            <td>@strategy.Id</td>
                            <td>@strategy.Name</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>