@using StockExchange.Common.Extensions
@model IList<StockExchange.Business.Models.Strategy.StrategyDto>
@{
    ViewBag.Title = "Strategies";
}

<div class="container-fluid">
    <div class="row col-md-6 col-centered">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Your defined strategies</h3>
            </div>
            <div class="box-body">
                <div class="row-fluid">
                    <a href="@Url.Action("EditStrategy")" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add new strategy</a>
                    <div class="clearfix"></div>
                </div>
                <br>
                <div class="row-fluid ">
                    <ul class="list-group">
                        @foreach (var strategy in Model)
                        {
                            var indicatorNames = strategy.Indicators.Select(i => i.IndicatorType.GetEnumDescription()).ToList();
                            <li class="list-group-item">
                                <div class="pull-right">
                                    <a href="@Url.Action("EditStrategy")/@strategy.Id"><i class="fa fa-fw fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="fa fa-trash fa-fw"></i>Delete</a>
                                </div>
                                <h4 class="list-group-item-heading">@strategy.Name</h4>
                                <p>
                                    <span class="text-muted">@string.Join(", ", indicatorNames)</span>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
