/*For Chart*/
/* Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.*/
/* Unit-less `line-height` for use in components like buttons.*/
/* Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.*/
/* Load fonts from this directory.*/
/* Global color for active items (e.g., navs or dropdowns).*/
/* Global background color for active items (e.g., navs or dropdowns).*/
/* Width of the `border` for generating carets that indicator dropdowns.*/
/* Carets increase slightly in size for larger components.*/
/* Padding for `<th>`s and `<td>`s.*/
/* Padding for cells in `.table-condensed`.*/
/* Default background color used for all tables.*/
/* Background color used for `.table-striped`.*/
/* Background color used for `.table-hover`.*/
/* Border color for table and cell borders.*/
/* Default `.form-control` height.*/
/* `.form-group` margin.*/
/* Background color for textual input addons*/
/* Border color for textual input addons*/
/* Disabled cursor for form controls and buttons.*/
/* Background for the dropdown menu.*/
/* Dropdown menu `border-color`.*/
/* Dropdown menu `border-color` **for IE8**.*/
/* Divider color for between dropdown items.*/
/* Dropdown link text color.*/
/* Hover color for dropdown links.*/
/* Hover background for dropdown links.*/
/* Active dropdown menu item text color.*/
/* Active dropdown menu item background color.*/
/* Disabled dropdown menu item background color.*/
/* Text color for headers within dropdown menus.*/
/* Deprecated `@dropdown-caret-color` as of v3.1.0*/
/* Deprecated `@screen-xs` as of v3.0.1*/
/* Deprecated `@screen-xs-min` as of v3.2.0*/
/* Deprecated `@screen-phone` as of v3.0.1*/
/* Deprecated `@screen-sm` as of v3.0.1*/
/* Deprecated `@screen-tablet` as of v3.0.1*/
/* Deprecated `@screen-md` as of v3.0.1*/
/* Deprecated `@screen-desktop` as of v3.0.1*/
/* Deprecated `@screen-lg` as of v3.0.1*/
/* Deprecated `@screen-lg-desktop` as of v3.0.1*/
/* Number of columns in the grid.*/
/* Padding between columns. Gets divided in half for the left and right.*/
/* Point at which the navbar becomes uncollapsed.*/
/* Point at which the navbar begins collapsing.*/
/* For `@screen-sm-min` and up.*/
/* For `@screen-md-min` and up.*/
/* For `@screen-lg-min` and up.*/
/* Tooltip max width*/
/* Tooltip text color*/
/* Tooltip background color*/
/* Tooltip arrow width*/
/* Tooltip arrow color*/
/* Popover body background color*/
/* Popover maximum width*/
/* Popover border color*/
/* Popover fallback border color*/
/* Popover title background color*/
/* Popover arrow width*/
/* Popover arrow color*/
/* Popover outer arrow width*/
/* Popover outer arrow color*/
/* Popover outer arrow fallback color*/
/* Default label background color*/
/* Primary label background color*/
/* Success label background color*/
/* Info label background color*/
/* Warning label background color*/
/* Danger label background color*/
/* Default label text color*/
/* Default text color of a linked label*/
/* Padding applied to the modal body*/
/* Padding applied to the modal title*/
/* Modal title line-height*/
/* Background color of modal content area*/
/* Modal content border color*/
/* Modal content border color **for IE8***/
/* Modal backdrop background color*/
/* Modal backdrop opacity*/
/* Modal header border color*/
/* Modal footer border color*/
/* Background color of the whole progress component*/
/* Progress bar text color*/
/* Variable for setting rounded corners on progress bar.*/
/* Default progress bar color*/
/* Success progress bar color*/
/* Warning progress bar color*/
/* Danger progress bar color*/
/* Info progress bar color*/
/* Background color on `.list-group-item`*/
/* `.list-group-item` border color*/
/* List group border radius*/
/* Background color of single list items on hover*/
/* Text color of active list items*/
/* Background color of active list items*/
/* Border color of active list elements*/
/* Text color for content within active list items*/
/* Text color of disabled list items*/
/* Background color of disabled list items*/
/* Text color for content within disabled list items*/
/* Border color for elements within panels*/
/* Padding around the thumbnail image*/
/* Thumbnail background color*/
/* Thumbnail border color*/
/* Thumbnail border radius*/
/* Custom text color for thumbnail captions*/
/* Padding around the thumbnail caption*/
/* Linked badge text color on hover*/
/* Badge text color in active nav link*/
/* Badge background color in active nav link*/
/* Breadcrumb background color*/
/* Breadcrumb text color*/
/* Text color of current page in the breadcrumb*/
/* Textual separator for between breadcrumb elements*/
/* Horizontal offset for forms and lists.*/
/* Text muted color*/
/* Abbreviations and acronyms border color*/
/* Headings small color*/
/* Blockquote small color*/
/* Blockquote font size*/
/* Blockquote border color*/
/* Page header border color*/
/* Width of horizontal description list titles*/
/* Horizontal line color.*/
.ico span.glyphicon {
  font-size: 30px;
  color: #fff;
  margin: 9px;
  height: 50px;
}

.plconfig {
  cursor: pointer;
  z-index: 999;
}
div.widget-dropdown {
  display: none;
  position: absolute;
  z-index: 999;
  border-top: 1px solid #f3f3f4;
}
div.widget-dropdown h3 {
  text-align: left;
  padding: 8px 15px;
  background: #8b8c8f;
  border-bottom: 1px solid #f3f3f4;
}
div.widget-dropdown a {
  color: #343433;
  font-size: 10pt;
  text-decoration: none;
}
div.widget-dropdown h3:hover {
  background: #c2c3c5;
}
.ui-icon-triangle-2-n-s {
  display: none !important;
}