@using StockExchange.Web.Models.Wallet;
@model StockExchange.Web.Models.Wallet.CreateWalletViewModel

@{
    ViewBag.Title = "CreateWallet";
}

<h2>Create Wallet</h2>

<div>
    <div>
        @using (Html.BeginForm("CreateWallet", "Wallet", FormMethod.Post))
        {
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    @Html.TextBoxFor(m => m.Budget, new { placeholder = "Budget", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Budget)
            </div>

            <button class="btn btn-primary btn-block" type="submit">Create</button>
        }
    </div>
</div>